.farmi-logo{
    font-family: 'Poiret One', cursive;
    display: block;
    background-color: #447046;
    height: 50px;
    width: 50px;
    z-index: 10;
    border-radius: 50%;
    text-align: center;
    float: left;
}
.farmi-f{
    vertical-align: middle;
    color: white;
    margin-top: 10px;
    font-size: 36px;
    position: relative;
    left: 8px;
    font-family: $font-family-heading;
}
.farmi-text{
    font-family: 'Poiret One', cursive;
    color: black;
    font-size: 36px;
    font-family: $font-family-heading;
    margin-top: 10px;
}